/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-weight: 400;
  font-family: 'Arial', sans-serif;
}

.box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar */
.navigation {
  background-color: #fff;
}

.navigation > .container {
  background-color: #fff;
  max-width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.navigation .navbar {
  position: relative;
}

.navigation .navbar .logo-toggle-container {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.navigation .navbar .logo-toggle-container a {
  display: block;
}

.navigation .navbar .logo-toggle-container a img {
  width: 118px;
}

.navigation .menu {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation .menu li {
  display: inline-block;
  padding: 43px 10px;
}

.navigation .menu li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #333;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navigation .menu li a:hover {
  transform: scale(1.05);
  background-color: #E80500;
  color: white;
}

.navigation .menu li:nth-child(1),
.navigation .menu li:nth-child(2),
.navigation .menu li:nth-child(3) {
  float: left;
}

.navigation .menu li.last-link a {
  background-color: #E80500;
  color: #fff;
  border-radius: 6px;
}

.navigation .menu li.last-link a:hover {
  background-color: red;
}

/* Image Slider */
.slider {
  position: relative;
  max-width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 20px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* About Us Section */
.heading h1 {
  color: #E80500;
  font-size: 40px;
  margin: 25px;
  text-align: center;
}

.line {
  display: inline-block;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid #E80500;
  border-radius: 5px;
}

.wrapper {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  margin: auto;
  transition: 0.5s ease;
}

.content:hover {
  transform: translateY(-10px);
}

.content h2 {
  font-size: 25px;
  color: #333;
}

.content p {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
  margin-right: 40px;
}

.content .btnx {
  position: relative;
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid #f80909;
  border-radius: 5px;
  font-size: 19px;
  color: #494747;
  padding: 13px 16px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
}

.content .btnx::before {
  position: absolute;
  content: "";
  border: 1px solid transparent;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #E80500;
  z-index: -1;
  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
  transform: scaleX(0);
}

.content .btnx:hover {
  color: #fff;
}

.content .btnx:hover::before {
  transform: scaleX(1);
}

.image {
  width: 50%;
  height: auto;
  border-radius: 15px;
  transition: 0.5s ease;
}

.image:hover {
  transform: translateY(-10px);
}

.image img {
  border-radius: 15px;
}

/* Footer Styles */
footer {
  margin: 25px;
  background: #24262b;
  padding-top: 20px;
  border-radius: 20px;
}

.footer-container {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 33.3%;
  color: #bbbbbb;
  font-weight: 300;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-content p {
  width: 200px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
}

.list {
  padding: 0;
}

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list {
  color: #bbbbbb;
  font-weight: 300;
}

/* Social Icons Styles */
ul.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 45px;
  margin-top: 43px;
}

ul.social-icons li {
  list-style: none;
}

ul.social-icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5em;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

ul.social-icons li a:hover {
  transform: scale(1.2);
}

ul.social-icons li a .fa-brands {
  font-size: 8em;
  color: #222;
}

ul.social-icons li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul.social-icons li:hover a::before {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #E80500;
}

/* Bottom Bar Styles */
.bottom-bar {
  background-color: #E80500;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.bottom-bar p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

/* Media Queries */

/* For screens larger than 1024px */
@media screen and (min-width: 1024px) {
  .navigation .menu {
    display: block !important;
    height: auto !important;
  }
}

/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
  .navigation .navbar .logo-toggle-container {
    position: static;
    transform: translateX(0%);
  }

  .navigation .navbar .logo-toggle-container a {
    width: 80%;
  }

  .navigation .navbar .logo-toggle-container .toggle-box {
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    width: 30px;
    background: #000;
    padding: 15px 9px;
    cursor: pointer;
    border-radius: 5px;
  }

  .navigation .menu {
    text-align: center;
    display: none;
  }

  .navigation .menu li {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
  }

  .slider {
    margin-top: 10px;
  }

  .wrapper {
    flex-direction: column;
  }

  .heading h1 {
    font-size: 30px;
  }

  .line {
    display: none;
  }

  .image {
    width: 100%;
    margin-top: 30px;
  }

  .content h2 {
    font-size: 20px;
    text-align: center;
  }

  .content p {
    font-size: 16px;
    text-align: center;
  }

  .content .btn {
    font-size: 16px;
    padding: 12px 14px;
    text-align: center;
  }
}

/* For screens smaller than 992px */
@media only screen and (max-width: 992px) {
  .navigation .navbar .logo-toggle-container {
    position: static;
    transform: translateX(0%);
  }

  .navigation .navbar .logo-toggle-container a {
    width: 80%;
  }

  .slider {
    margin-top: 10px;
  }

  .wrapper {
    flex-direction: column;
  }

  .heading h1 {
    font-size: 30px;
  }

  .line {
    display: none;
  }

  .image {
    width: 100%;
    margin-top: 30px;
  }

  .content h2 {
    font-size: 20px;
    text-align: center;
  }

  .content p {
    font-size: 14px;
    text-align: center;
  }

  .content .btn {
    font-size: 16px;
    padding: 12px 14px;
    margin-top: 20px;
  }
}

/* Mobile View for Footer */
@media only screen and (max-width: 992px) {
  footer {
    padding-top: 20px;
  }

  .footer-container {
    flex-direction: column; /* Stack the sections vertically */
    align-items: center; /* Center the content */
    width: 100%; /* Ensure full width */
  }

  .footer-content {
    width: 100%; /* Take up full width */
    margin: 15px 0; /* Add some margin between sections */
    text-align: center; /* Center the text */
  }

  .footer-content h3 {
    font-size: 22px; /* Adjust font size for better readability */
  }

  .footer-content p {
    font-size: 14px; /* Make paragraph text smaller for mobile */
  }

  .list li {
    padding: 7px 0; /* Adjust padding for better spacing */
  }

  /* Adjust the Social Icons for Horizontal Display on Mobile */
  ul.social-icons {
    display: flex;
    justify-content: center; /* Center the icons */
    gap: 35px; /* Add space between icons */
    padding-left: 0; /* Remove any left padding */
    margin: 0; /* Remove margin */
    flex-wrap: wrap; /* Allow wrapping if necessary */
  }

  ul.social-icons li {
    list-style: none;
    display: flex;
    justify-content: center; /* Ensure each icon is centered within the list item */
  }

  /* Bottom Bar */
  .bottom-bar {
    padding: 10px 0;
  }
}

